body {
    margin: 0px;
}

.karolin {
    width: 100%;
    height: auto;
    opacity: 0.5;
}

.rain {
    background: url('../images/no-signal.gif');
    height: 100%;
    opacity: 0.5;
    display: block;
}